/* Reset básico de margin e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho */
header {
    text-align: center;
    background-color: #EF4135;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

/* Seção de Menu de Comida */
.menu {
    margin-top: 20px;
    text-align: center;
}

.food-item {
    display: inline-block;
    width: 30%;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.food-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.food-item p {
    font-size: 1.2rem;
    margin: 10px 0;
}

button {
    background-color: #EF4135;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #d53e30;
}

button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Seção de Carrinho */
.cart {
    margin-top: 40px;
    text-align: center;
}

.cart ul {
    list-style-type: none;
    margin: 20px 0;
}

.cart li {
    margin-bottom: 10px;
}

#total {
    font-size: 1.5rem;
    margin-top: 20px;
}

#proceed-to-payment {
    margin-top: 20px;
}

/* Pagamento */
#payment {
    margin-top: 40px;
    display: none;
}

#payment label {
    font-size: 1.1rem;
}

#payment input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#payment button {
    margin-top: 20px;
    background-color: #28a745;
}

.hidden {
    display: none;
}
